$link-footer: #888;

footer {
    background-color: #101010;
    padding: 20px 0px;

    p {
        color: $link-footer;
    }

    .main--container {
        padding: 30px 15px;
    }

    .item {
        min-width: 280px;
    }

    a {
        color: $link-footer;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    h2 {
        color: #fff;
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 60px;
        max-width: 600px;
    }

    h3 {
        color: #fff;
    }

    .credits {
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0px;
        letter-spacing: .2px;
    }

    .social--footer {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            margin-left: 20px;
        }
    }


    .cta-wp {
        text-decoration: none;
        border: 2px solid #fff;
        color: #fff;
        font-weight: 500;

        display: inline-block;
        
        padding: 20px 35px;
        border-radius: 5px;

        i {
            margin-left: 6px;
        }
    }


    .text-right {
        text-align: right;
    }

    .border--b {
        border-bottom: 1px solid #999;
    }
}