@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  color: #777777;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  padding-bottom: 60px;
  padding-top: 40px;

  h1 {
    color: #131313;
    font-size: 60px;
  }

  img {
    border-radius: 10px;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 50px 0px;
  color: #585858;

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    li {
      list-style: none;
      display: inline-block;
      a {
        color: #777777;
        font-size: 20px;
        padding: 15px;
        transition: all ease 0.3s;
      }
    }
  }
}
