@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('responsive.scss');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-size: 16px;
  color: #131313;
  background-color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 600 !important;
}

p {
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  color: #777777;
  margin-bottom: 15px;
}

$primary-color: #E9FF00;
$secondary-color: #131313;




header {
  background-color: #131313;
  z-index: 99999;

  .navbar {
    padding: .5rem 0rem;
  }

  .navbar-brand {
      width: 180px;
  }

  .nav-link {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: #585858;
  font-size: 18px;
  font-weight: 500;

}

.nav-link:first-child {
  margin-left: 30px;
}


img {
  max-width: 100%;
  height: auto;
}




  // HERO
  
  .hero {

    background-color: $secondary-color;   
    padding-bottom: 50px;
    padding-top: 0px; 

    h1 {
      letter-spacing: 1px;
      color: #fff;
      margin-top: 0px;
      font-size: 52px;
      line-height: 56px;
      margin-bottom: 20px;
    }

    p {
      color: #777777;
      margin-bottom: 0px;
      font-weight: 500;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }
    
  }

  .social-home {
    padding: 50px 0px;
  }


  footer {
    background-color: #131313;
    padding: 50px 0px;
    color: #777777;

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: #585858;
          font-size: 20px;
          padding: 15px;
          transition: all ease .3s;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

