@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('responsive.scss');

html {
  scroll-behavior: smooth;
}

$primary-color: #845FFF;
$secondary-color: #ffcf4e;

.p-color-bg {
  background-color: $primary-color;
}

.badge-secondary {
  background-color: $primary-color !important;
}

.p-color {
  color: $primary-color !important;
} 

.p-sec-color {
  color: $secondary-color !important;
}

.color-white {
  color: #fff !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h3 {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-size: 16px;
  color: #101010;
  background-color: #f0f0f0;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99999;
}

.navbar-light .navbar-nav .nav-link {
  color: #585858;
  font-size: 18px;
  font-weight: 500;

}

.nav-link:first-child {
  margin-left: 30px;
}

.s-link {
  color: $primary-color;
    text-decoration: none;
    font-weight: 500;

    i {
      margin-left: 6px;
    }

    &:hover {
      color: $primary-color;
    }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 18px;
  margin-bottom: 20px;

  a {
    color: $primary-color;
  }
}



  // HERO
  
  .hero {

    background-color: $primary-color;    

    h1 {
      letter-spacing: 1px;
      color: #fff;
      margin-top: 0px;
      font-size: 52px;
      line-height: 56px;
      margin-bottom: 20px;
    }

    p {
      color: $secondary-color;
      line-height: 32px;
    }
    
  }


  
.criacaodesites-home {
  background-color: $primary-color;
  color: #fff;
  padding: 50px 0px;

  .s-link {
    color: #fff !important;
    display: inline-block;
    margin-top: 15px;
  }
}


  footer {
    background-color: #f2f2f2;
    padding: 50px 0px;
    color: #585858;

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: #585858;
          font-size: 20px;
          padding: 15px;
          transition: all ease .3s;

          &:hover {
            color: $primary-color
          }
        }
      }
    }
  }




  @import url('responsive.scss');

