@media screen and (max-width: 992px) {

    .hide {
        display: none;
    }

    .nav-link:first-child {
        margin-left: 0px !important;
    }


    .services--home {
        ul {
            li {
                display: block !important;
                line-height: 28px;
            }
        }
    }
  

    .call--about {
        .flex {
            display: inherit !important;
        }

        .content-call--about {
            text-align: center;
            margin-bottom: 30px;
            margin-right: 0px !important;
        }
    }



    footer {

        text-align: center;

        .flex {
            display: inherit !important;
        }

        .text-right {
            text-align: center !important;
        }

        h3 {
            line-height: 5px;
            font-size: 32px;
            margin-bottom: 0px;
        }
    }
  }



  @media screen and (max-width: 765px) {


    .hero {
        text-align: center;
        padding-top: 30px;
        h1 {
            font-size: 36px !important;
            line-height: 40px !important;
        }
    }

    .nav-link:first-child {
        margin-left: 0px !important;
    }
}